@use './variables.scss';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource-variable/karla';


@mixin sizeComponent {
  width: 100%;
  max-width: variables.$content-width;
}

@mixin fontMain400 {
  font-family: variables.$fontMain;
  font-weight: 400;
}

@mixin fontMain500 {
  font-family: variables.$fontMain;
  font-weight: 500;
}

@mixin fontSecond700 {
  font-family: variables.$fontSecond;
  font-weight: 700;
}