@use "../../styles/mixins.scss";

.main {
  @include mixins.sizeComponent;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero {
  display: flex;
  justify-content: center;
}

.filterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin: 0;
  list-style: none;
}

.filterItem {
  flex-basis: 240px;
}
