@use "../../styles/mixins.scss";

.main {
  @include mixins.sizeComponent;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero {
  display: flex;
  justify-content: center;
}

.filterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 23px;

  margin: 0;
  padding: 0;
  list-style: none;

  padding-right: 1px;
}

.filterItem {
  flex-basis: 240px;
}
