@use '../../styles/mixins.scss';

.main {
  @include mixins.sizeComponent;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero {
  display: flex;
  justify-content: center;
}
