@use '../../styles/mixins.scss';
@use '../../styles/variables.scss';


.nav {
  @include mixins.fontSecond700;
  max-width: variables.$content-width;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 700;
}

.link {
  padding: 5px;
  &:hover {
    color: grey;
  }
}
